/* Offcanvas-Navigation Size change to sm */
.offcanvas-size-sm{
    --bs-offcanvas-width: 18%;
    background-color: black;
}

/* Set Profile Photo and Name */
.profileimage{
    height:100px;
    width:100px;
    border:4px solid rgb(248, 188, 48);
    border-radius: 50%;
    margin:-10px 40px 10px 70px;
}

.profile{
    color:white;
    font-size: 26px;
    text-align: center;
}

/* body */
body {
    color: rgb(248, 188, 48);
    background-color: black;
    font-family: 'Cedarville Cursive';
    font-style: italic;
}

/* logo */
#logo {
    margin-right: 605px;
    height: 140px;
    width: 300px;
}

/* Navigation List and Anchors */
.offcanvas-title{
    color: rgb(248, 188, 48);
    font-size: 26px;
}

.nav-link-list,.dropdown-menu{
    background-color: black;
    color:white;
    font-size: 24px;
}

.offcanvas-body>ul>li>a:hover{
    text-decoration:underline;
    color: rgb(248, 188, 48);
}