/* Offcanvas-Navigation Size change to sm */
.offcanvas-size-sm{
    --bs-offcanvas-width: 18%;
    background-color: black;
}

/* Set Profile Photo and Name */
#profileimage{
    height:100px;
    width:100px;
    border:4px solid rgb(248, 188, 48);
    border-radius: 50%;
    margin:-10px auto;
    margin-bottom:10px;
}

/* Login and signup button */
.submit {
    width: 80px;
    margin: 10px 0px;
    font-size: 24px;
    padding: 5px;
    background-color: black;
    color: white;
    border: 2px solid rgb(248, 188, 48);
    border-radius: 10px;
    cursor: pointer;
}

/* for name caption */
.profile{
    color:white;
    font-size: 26px;
    text-align: center;
}

/* body */
body {
    color: rgb(248, 188, 48);
    background-color: black;
    font-family: 'Cedarville Cursive';
    font-style: italic;
}

/* logo */
#logo {
    margin-left:330px;
    height: 140px;
    width: 300px;
}

/* rescue hyperlinks in navigation*/
#rescue {
    height: 140px;
    width:150px;
    margin:-15px 15px 0px 15px;
}

.text_rescue{
    position:absolute;
    font-size:28px;
    color:white;
    float:right;
    font-weight: bold;
    top:30%;
    right:16.3%;
    /* margin:00px 00px 0px 100px; */
}

/* adopt hyperlinks in navigation*/
#adopt {
    height: 140px;
    width:150px;
    margin:-15px 15px 0px 15px;
}

.text_adopt{
    position:absolute;
    font-size:28px;
    color:white;
    font-weight: bold;
    float:right;
    top:30%;
    right:4.5%;
    /* margin:00px 00px 0px 100px; */
}

/* Navigation List and Anchors */
.offcanvas-title{
    color: rgb(248, 188, 48);
    font-size: 26px;
}

.nav-link-list,.dropdown-menu{
    background-color: black;
    color:white;
    font-size: 24px;
}

.offcanvas-body>ul>li>a:hover{
    text-decoration:underline;
    color: rgb(248, 188, 48);
}

.dropdown a,.dropdown-menu a{
    color:white;
    background-color:black;
    font-size:24px;
}

.dropdown-menu a:hover{
    color:rgb(248, 188, 48);
    text-decoration:underline;
    background-color:black;
}